{% extends "base.html" %}

{% block header %}
<header class="masthead" style="background-image: url('static/img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
<!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
          <span class="meta">Written by: 
            <a href="#">{{post.author.username}}</a>
            on {{post.date.strftime('%B %d %Y')}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
{% block content %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{ post.text}}</p>

        {% if post.author == current_user %}
        <div>
            <a href="{{url_for('blog_posts.update',blog_post_id=post.id)}}">Update</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
        </div>
        {% endif %}
      </div>
    </div>
    </div>
  </article>
    

    <div id ='del_modal'class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this post?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                <form action="{{url_for('blog_posts.delete_post',blog_post_id=post.id)}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger"> 
                </form>            
            </div>
          </div>
        </div>
      </div>



{% endblock %}