{% extends "base.html" %}
{% block header %}
<header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Info about company</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, corporis officiis atque obcaecati dolores pariatur a, neque nihil, earum incidunt nobis. Molestiae, ipsa. Eum harum odio tempora voluptates reiciendis suscipit.</p>
    </div>
</div>
</div>
{% endblock %}
